<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sensor.sellCabinet.mapper.SequenceMapper">

	<select id="getPrimaryKey" resultType="java.lang.String">
		SELECT CONCAT(#{name},NEXTVAL(#{name}),rand_string(7)) as id FROM dual
	</select>

</mapper>
